<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10"
    [opened]="!isScreenSmall()"
    [mode]="isScreenSmall() ? 'over' : 'side'">
    <mat-toolbar color="primary">
      Menu
    </mat-toolbar>

  </mat-sidenav>

  <mat-sidenav-content class="app-sidenav-content">
    <!-- <app-toolbar (toggleSideNav)="sidenav.toggle()">
    </app-toolbar> -->
      <app-main-content (toggleSideNav)="sidenav.toggle()">
      </app-main-content>
  </mat-sidenav-content>
</mat-sidenav-container>

