<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10"
    [opened]="!isScreenSmall()"
    [mode]="isScreenSmall() ? 'over' : 'side'">
    <mat-toolbar color="primary">
      Events List
    </mat-toolbar>

  </mat-sidenav>

  <mat-sidenav-content class="app-sidenav-content">
    <app-toolbar (toggleSideNav)="sidenav.toggle()">
    </app-toolbar>
    <div class="wrapper">

      <app-main-content>
      </app-main-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

