<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10"
    [opened]="!isScreenSmall()"
    [mode]="isScreenSmall() ? 'over' : 'side'">
    <mat-toolbar color="primary">
      Events List
    </mat-toolbar>

  </mat-sidenav>

  <mat-sidenav-content class="app-sidenav-content">
    <app-toolbar></app-toolbar>
    <button type="button" mat-button (click)="sidenav.toggle()">
      Open Nav
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>

