.flex-container {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-item {
  margin-top: 10px;
}
.example-card {
  max-width: 200px;
}

.example-header-image {
  background-size: cover;
}
